@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
@import 'variables.scss';

html,
body {
  font-family: $normal_font;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
