$white: #f4f5f0;
$green: #008c45;
$red: #cd212a;

$cursive_font: 'Corinthia', cursive;
$normal_font: 'Quicksand', sans-serif;

$background_color: #101318;
$footer_color:#f7f7f7;

$navbar_height: 64px;
$footer_height: 300px;

$scroll_track_color: #1e232b;
$scroll_thumb_color: #39414d;

$horizontal_padding: 40px;